.icon-contact{
    height: 30px;
}
.contectInfo-fs{
    font-size: 1rem;
}
.contectInfo-title{
    font-size: 1.2rem;
}
.logo-control{
    /* width: 120px; */
    /* min-width: 20px; */
    height: 100px;
    min-height: 20px;
    display: flex;
    /* overflow: hidden; */
}
